<!doctype html>
<html>
	<head>
		<style>
			body{
				font-size: 12px
			}
			table{
				width: 100%; margin: 0; padding: 0; border: none
			}
			table td{
				border: none
			}

			.left{
				float: left
			}
			.right{
				float: right
			}
			.absolute{
				position: absolute;
			}
			.w1{
				width: 10%
			}
			.w4{
				width: 40%
			}
			.w8{
				width: 80%
			}
			.w9{
				width: 90%
			}


			.header{
				position: relative; text-align: center;
			}
			.logo{
				left: 5px; top: 5px
			}
			.numero{
				right: 5px; top: 5px; text-align: right;
			}
			.logo img{
				width: 70px;	
			}

			.header h3, .header p{
				margin: 1px 0;
			} 

		</style>
	</head>
	<body>
		<h3>Teste</h3>
	</body>
</html>