<!doctype html>
<html>
	<head>
		<style>
			body{
				font-size: 12px
			}
			table{
				width: 100%; margin: 0; padding: 0; border: none
			}
			table td{
				border: none
			}

			.left{
				float: left
			}
			.right{
				float: right
			}
			.absolute{
				position: absolute;
			}
			.w1{ width: 10% }
			.w2{ width: 20% }
			.w3{ width: 30% }
			.w4{ width: 40% }
			.w6{ width: 60% }
			.w7{ width: 70% }
			.w8{ width: 80% }
			.w9{ width: 90% }

			.linha-dupla{
				margin-bottom: 5px;
			}
			.linha-dupla > div{
				background: #fff; height: 1px
			}
			.linha-dupla > div:first-of-type{
				background: #000; 
			}
			.linha-dupla > div:last-of-type{
				background: #000; 
			}

			.tyni-border{
				padding: 1px; background: #000;
			}
			.tyni-border > div{
				background: #fff; padding: 5px
			}

			.header{
				position: relative; margin-bottom: 5px;
			}

			.header .right{
				text-align: center;
			}
			h3, .header p{
				margin: 1px 0;
			} 

			.logo img{
				width: 150px;	
			}
			
			.titulo{
				text-align: center;
			}

		</style>
	</head>
	<body>
		<div class="header tyni-border">
			<div>
			<div class="left logo w2">
				<%= wicked_pdf_image_tag("logo-facisc.png") %>
			</div>
			<div class="right w8">
				<h3>Teste</h3>
				<p>TESTE</p>
			</div>
			<br style="clear: both">
			</div>
		</div>
		<div class="linha-dupla"><div></div><div></div><div></div></div>		

		<div class="tyni-border">
			<div>
				<h3 class="titulo">Teste</h3>
				<table>
					<tr>
						<td>Data:</td>
						<td><div class="field-border w3"><div></div></div></td>
					</tr>
					<tr>
						<td>Nome:</td>
						<td><div class="field-border"><div></div></div></td>
					</tr>
				</table>
			</div>
		</div>


	</body>
</html>